   table {
       width: 100%;
       border-spacing: 20px;
       text-align: center;
   }

   #tr_1 {
       background-color: red;
   }

   #tr_2 {
       background-color: yellow;
   }

   #tr_3 {
       background-color: green;
   }

   #tr_4 {
       background-color: grey;
   }

   .td_1 {
       padding: 40px;
   }

   .td_2 {
       padding: 120px;
   }

   .td_3 {
       padding: 80px;
   }

   .td_4 {
       padding: 60px;
   }